.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.logo {
  height: 40px;
  margin-right: 8px;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
  margin: 0px;
  padding: 0px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 100px;
  margin-right: 50px;
  padding: 0;
}

.navbar-nav li a {
  text-decoration: none;
  font-size: 17px;
  color: #333;
  transition: color 0.3s;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-nav li a:hover {
  color: #5ab88a;
} 

.Login-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 25px;
  background-color: #45b089; /*main color */
}

.main-button {
  background-color: #45b089; /*main color */
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

.main-button:hover {
  background-color: #45b089;
}

.plus-button {
  background-color: #7ecba6;
  color: white;
  border: none;
  padding: 20px 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

.plus-button:hover {
  background-color: #45b089;
}

.theme-toggle {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: var(--button-bg, #eee);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--button-hover-bg, #ddd);
}

/* Dark Mode */
.dark .navbar {
  background-color: #222;
  color: white;
}

.dark .theme-toggle {
  background-color: #444;
  color: white;
}

.dark .theme-toggle:hover {
  background-color: #666;
}

.logo-link{
    text-decoration:none;
    color:inherit;
}

.logo-container{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo{
    width:48px;
    height:48px;
    object-fit:contain;
}

.logo-text{
    font-size:2rem;
    font-weight:600;
    color:#1f2937;
}

.navbar-nav{
    display:flex;
    gap:3rem;
    list-style:none;
    align-items:center;
}

.navbar-nav a{
    color:#1f2937;
    text-decoration:none;
    font-weight:500;
    transition:.2s;
}

.navbar-nav a:hover{
    color:#3cb878;
}

.nav-active{
    border:2px solid black;
    border-radius:4px;
    padding:2px 4px;
}